body {
  
  background: #1a1a1a;
  color: white;
  font-family: Arial, sans-serif;
  padding: 40px;
  text-align: center; /* Giúp căn giữa tiêu đề, tổng tiền, nút */
}

.cart-container {
  max-width: 900px;
  margin: 0 auto;
  background: #2c2c2c;
  border-radius: 12px;
  padding: 30px;
  display: inline-block; /* Giúp căn giữa toàn khối */
  text-align: center;
}

.cart-item {
  background: #444;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  overflow: auto;
  zoom: 1;
  width: 100%;
}

.cart-item img {
  width: 60px;
  height: auto;
  border-radius: 8px;
  float: left;
  margin-right: 10px;
}

.cart-item input[type="checkbox"] {
  float: left;
  margin-right: 10px;
  margin-top: 22px;
}

.cart-item button {
  float: right;
  margin-top: 20px;
}

#total {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center; /* căn giữa tổng tiền */
}

button {
  background: #fa5304;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  margin: 5px;
  display: inline-block;
}

button:hover {
  opacity: 0.9;
}

#payment-section {
  margin-top: 30px;
  background: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

select, #bank-info {
  display: block;
  margin: 10px auto;
  padding: 8px;
  border-radius: 6px;
  border: none;
  width: 50%;
  background: #555;
  color: white;
  text-align: center;
}

a {
  display: inline-block;
  margin-top: 20px;
  color: orange;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}
