.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fa5304;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.back-button:hover {
  background-color: #e14a00;
}
